<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <title>Pitchumani.com</title>

      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <link rel="icon" type="image/x-icon" href="images/favicon.svg">
      
      <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Muli:300,400,700,900" rel="stylesheet">
  
      <link rel="stylesheet" href="fonts/icomoon/style.css">

      
  
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/jquery-ui.css">
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesheet" href="css/owl.theme.default.min.css">
      <link rel="stylesheet" href="css/owl.theme.default.min.css">
  
      <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  
      <link rel="stylesheet" href="css/bootstrap-datepicker.css">
  
      <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  
      <link rel="stylesheet" href="css/aos.css">
  
      <link rel="stylesheet" href="css/style.css">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class="site-wrap">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>

      <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
      
        <div class="container-fluid">
          <div class="d-flex align-items-center">
            <div class="site-logo">
              <a href="/" class="">
                <img src="images/Pitchumani_logo.png" alt="logo"/>
                <span class="align-middle">Pitchumani.com</span>
                </a>
            </div>
            <div>
              <nav class="site-navigation position-relative text-right" role="navigation">
                <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-xl-block">
                  <li><a href="#home-section" class="nav-link">Home</a></li>
                  <li><a href="#testimonials-section" class="nav-link">What people think</a></li>
                  <li><a href="#work-section" class="nav-link">Meme's</a></li>
                  <li><a href="#services-section" class="nav-link">Best Of Vadivelu</a></li>
                  <li><a href="#contact-section" class="nav-link">Share your thought's</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        
      </header>  
      <!-- memeModal -->
      <div id="memeModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Meme</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class = "well">
                <%= form_for @meme, :url => {:action => "create_meme"}, :method => "post" do |f| %>
                  <%= f.label :image %>
                  <%= f.file_field :image %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <%= f.submit "Save", class: "btn btn-primary reload" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <!-- edituserModal -->
      <div id="edituserModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Modal Header</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- newuserModal -->
      <div id="newuserModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Sign up</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <%= form_for(resource, as: resource_name, local: true, url: registration_path(resource_name), :remote => true) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                  <%= f.label :mobile_number %><br />
                  <%= f.number_field :mobile_number, autofocus: true, autocomplete: "mobile_number", :class => 'form-control' %>
                </div>

                <div class="field space-top">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password", :class => 'form-control' %>
                </div>

                <div class="field space-top">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => 'form-control' %>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit "Sign up", :class => 'form-control btn btn-success col-md-2' %>
            </div>
            <% end %>
          </div>
        </div>
      </div>

      <!-- loginModal -->
      <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Log in</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                  <%= f.label :mobile_number %><br />
                  <%= f.number_field :mobile_number, autofocus: true, autocomplete: "mobile_number", :class => 'form-control' %>
                </div>

                <div class="field space-top">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "current-password", :class => 'form-control' %>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="field space-top">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit "Log in", :class => 'form-control btn btn-success col-md-2 space-left' %>
            </div>
            <% end %>
          </div>
        </div>
      </div>

      <%= yield %>
      <!-- Footer -->
      <footer class="footer-section bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h3>About Vadivelu</h3>
              <p>Kumaravadivel Natarajan, known professionally as Vadivelu, is an Indian film actor and playback singer. Since the 1990s, he has performed in supporting and lead roles as a comedy actor in Tamil films.</p>
            </div>

            <div class="col-md-3 ml-auto">
              <h3>Links</h3>
              <ul class="list-unstyled footer-links">
                <li><a href="#home-section" class="smoothscroll">Home</a></li>
                  <li><a href="#testimonials-section" class="smoothscroll">What people think</a></li>
                  <li><a href="#work-section" class="smoothscroll">Meme's</a></li>
                  <li><a href="#services-section" class="smoothscroll">Best Of Vadivelu</a></li>
                  <li><a href="#contact-section" class="smoothscroll">Share your thought's</a></li>
              </ul>
            </div>

            <div class="col-md-4">
              <h3>Subscribe</h3>
              <p>Nalla kekuranga ya detailu..!!</p>
              <form action="#">
                <div class="d-flex mb-5">
                  <input type="text" class="form-control rounded-0" placeholder="Email">
                  <input type="submit" class="btn btn-primary rounded-0" value="Subscribe">
                </div>
              </form>
            </div>

          </div>

          <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
              <div class="border-top pt-5">
                <p>
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://spritle.com" target="_blank" >Spritle</a>
                </p>
              </div>
            </div>
            
          </div>
        </div>
      </footer>

   
    </div> <!-- .site-wrap -->

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/main.js"></script>
    
  
  </body>
</html>